
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                [@User.Identity.Name]
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" asp-area="" asp-controller="Users" asp-action="Edit">Изменить</a>
                <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
    }
</ul>
