@model GravityWebExt.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Ошибка прав доступа";
}

<font color="red">
<h4>У вас нет прав доступа к этому разделу!</h4>
</font>
<br/>


<partial name="Login" />