@*@model GravityWebExt.ViewModels.RegisterViewModel
    <h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>*@

@model GravityWebExt.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация пользователя";
}


<h4>Регистрация</h4>

<div class="container">
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="was-validated">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Name">Введите имя пользователя:</label><br />
                <input class="form-control" type="text" placeholder="Введите имя пользователя" asp-for="Name" required />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль:</label><br />
                <input class="form-control" type="password" placeholder="Введите пароль" asp-for="Password" required />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm">Повторите пароль:</label><br />
                <input class="form-control" type="password" placeholder="Введите пароль" asp-for="PasswordConfirm" required />
                <span asp-validation-for="PasswordConfirm" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Регистрация" />
            </div>
        </div>
    </form>
</div>
