
@model IEnumerable<GravityWebExt.Models.ControlPanelDataWeb>
@{
    ViewData["Title"] = "Контрольная панель";
    ControlPanelDataWeb data = Model?.ElementAt(0);
}
@*<h1>@ViewData["Title"]</h1>*@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    
    /*/Кнопка ВКЛ и ВЫКЛ/*/
    .checkbox-green {
        display: inline-block;
        height: 20px;
        line-height: 50%;
        margin-right: 5px;
        position: relative;
        vertical-align: middle;
        font-size: 20px;
        user-select: none;
    }

        .checkbox-green .checkbox-green-switch {
            display: inline-block;
            height: 30px;
            width: 150px;
            box-sizing: border-box;
            position: relative;
            border-radius: 3px;
            background: #848484;
            transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
        }

            .checkbox-green .checkbox-green-switch:before {
                content: attr(data-label-on);
                display: inline-block;
                box-sizing: border-box;
                width: 50%;
                padding: 0 12px;
                position: absolute;
                top: 0;
                left: 50%;
                text-transform: uppercase;
                text-align: center;
                color: #848484;
                font-size: 15px;
                line-height: 28px;
            }

            .checkbox-green .checkbox-green-switch:after {
                content: attr(data-label-off);
                display: inline-block;
                box-sizing: border-box;
                width: 90px;
                border-radius: 1px;
                position: absolute;
                top: 2px;
                left: 1px;
                z-index: 5;
                text-transform: uppercase;
                text-align: center;
                background: white;
                line-height: 26px;
                font-size: 18px;
                color: #848484;
                transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
            }

        .checkbox-green input[type="checkbox"] {
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

            .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch {
                background-color: #007BFF;
                color: #007BFF;
            }

                .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
                    content: attr(data-label-off);
                    left: 0;
                    color: #007BFF;
                }

                .checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
                    content: attr(data-label-on);
                    color: #007BFF;
                    transform: translate3d(54px, 0, 0);
                }

            /* Hover */
            .checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover {
                cursor: pointer;
            }

        .col {
            border: 2px solid #DEE2E6;
        }
    
        .col:hover {
            border: 2px solid #1E90FF;       
        }
</style>


<div class="container">
    <div class="row">
            <div class="col" style="background: #F2F2F2;">
                <h5 align="center">Ход домкрата</h5><br />
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px; background: #1E90FF;" id="jackUp"><h3>&nbsp;&nbsp;&nbsp;↑&nbsp;&nbsp;&nbsp;</h3></button>
                <button type="button" class="btn btn-primary" style="margin-bottom:10px; background: #1E90FF;" id="jackDown"><h3>&nbsp;&nbsp;&nbsp;↓&nbsp;&nbsp;&nbsp;</h3></button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><label id="jackPos"></label></span>
                @*<span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><span class="Lamp"></span>*@
            </div>
            <div class="col" style="background: #F2F2F2; ">
                <h5 align="center">Перемещение подвижного груза</h5><br />
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px; background: #1E90FF;"><h3>&nbsp;&nbsp;←&nbsp;&nbsp;</h3></button>
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px; background: #1E90FF;"><h3>&nbsp;&nbsp;→&nbsp;&nbsp;</h3></button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>0</span>
                @*<span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><span class="Lamp"></span>*@
            </div>
    </div>
    <div class="row">
        <div class="col">           
                        <table class="table table-striped" style="margin-top: 40px; margin-left: 0px; margin-right: 0px ">
                            <thead>
                                <tr style="background:#F2F2F2;">
                                    <th colspan="6" align="center"><h5>Показания датчиков</h5></th>
                                    <th colspan="8"></th>
                                    <th colspan="6" align="center"><h5>Двигатель трения</h5></th>
                                </tr>
                                <tr>
                                    <th colspan="3">Наименование</th>
                                    <th>Обозначение</th>
                                    <th>Значение</th>
                                    <th></th>
                                    <th colspan="2"></th>
                                    <th colspan="6"></th>
                                    <th colspan="2">№1</th>
                                    <th colspan="2">№2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">Датчик угловых перемещений</td>
                                    <td>αΣ</td>
                                    <td><span id="SensorAngle">@data?.SensorAngle.ToString("N3")</span></td>
                                    @*<td><span class="Lamp"></span></td>*@
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <label class="checkbox-green">
                                            <input type="checkbox">
                                            <span class="checkbox-green-switch" data-label-on="Вкл" data-label-off="Выкл"></span>
                                        </label>
                                    </td>
                                    <td colspan="2">
                                        <label class="checkbox-green">
                                            <input type="checkbox">
                                            <span class="checkbox-green-switch" data-label-on="Вкл" data-label-off="Выкл"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Датчик дисбаланса </td>
                                    <td>Pα</td>
                                    <td><span id="SensorDisbalance">@data?.SensorDisbalance.ToString("N3")</span></td>
                                    @*<td><span class="Lamp"></span></td>*@
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2" align="center">
                                        <div class="btn-group-vertical" style=" background:#1E90FF; border-radius: 5px">
                                            <div class="seldiv" style="margin:5px; margin-right: 20px; margin-left: 20px" >
                                                <label> <font color="white">Скорость:&nbsp;</font></label><select id="selectvalue">
                                                    <option>1&nbsp;&nbsp;&nbsp;</option>
                                                    <option>2&nbsp;&nbsp;&nbsp;</option>
                                                    <option>3&nbsp;&nbsp;&nbsp;</option>
                                                    <option>4&nbsp;&nbsp;&nbsp;</option>
                                                    <option>5&nbsp;&nbsp;&nbsp;</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" align="center">
                                        <div class="btn-group-vertical" style=" background:#1E90FF; border-radius: 5px;">
                                            <div class="seldiv" style="margin:5px;">
                                                <label> <font color="white">&nbsp;&nbsp;&nbsp;Скорость:&nbsp;</font></label><select id="selectvalue">
                                                    <option>1&nbsp;&nbsp;&nbsp;</option>
                                                    <option>2&nbsp;&nbsp;&nbsp;</option>
                                                    <option>3&nbsp;&nbsp;&nbsp;</option>
                                                    <option>4&nbsp;&nbsp;&nbsp;</option>
                                                    <option>5&nbsp;&nbsp;&nbsp;</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Датчик силы измеретильной головки</td>
                                    <td>P</td>
                                    <td><span id="SensorPower">@data?.SensorPower.ToString("N3")</span></td>
                                    @*<td><span class="Lamp"></span></td>*@
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <div class="btn-group-vertical" style=" background:#1E90FF; border-radius: 5px;">
                                            <div class="seldiv" style="margin:5px">
                                                <label> <font color="white">Скорость:&nbsp;</font></label><select id="selectvalue">
                                                    <option>p=m/V</option>
                                                    <option>I=q/t</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="btn-group-vertical" style=" background:#1E90FF; border-radius: 5px;">
                                            <div class="seldiv" style="margin:5px">
                                                <label> <font color="white">Скорость:&nbsp;</font></label><select id="selectvalue">
                                                    <option>p=m/V</option>
                                                    <option>I=q/t</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td colspan="3">Угол поворота планшайбы</td>
                                    <td>α</td>
                                    <td><span id="SensorAngleTurn">@data?.SensorAngleTurn.ToString("N3")</span></td>
                                    <td><span class="Lamp"></span></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td colspan="2" align="center"><span class="Lamp"></span></td>
                                    <td colspan="2" align="center"><span class="Lamp"></span></td>
                                </tr>*@
                            </tbody>
                        </table>
        </div>
    </div>

</div>
    

    <div class="container">
        <h4>Данные с контроллера</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Датчик угловых перемещений (Номинальная зона работы) </td>
                    <td>αΣ1</td>
                    <td><span id="beginBalanceAngle">@data?.BeginBalanceAngle.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Датчик угловых перемещений (Средняя зона работы) </td>
                    <td>αΣ2</td>
                    <td><span id="middleBalanceAngle">@data?.MiddleBalanceAngle.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Датчик силы измеретильной головки </td>
                    <td>P1α</td>
                    <td><span id="beginUnbalanceSensor">@data?.BeginUnbalanceSensor.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Датчик силы измеретильной головки </td>
                    <td>P2α</td>
                    <td><span id="middleUnbalanceSensor">@data?.MiddleUnbalanceSensor.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Показание датчика линейных перемещений подвижного груза</td>
                    <td>K1</td>
                    <td><span id="k1">@data?.Knom.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Показание датчика линейных перемещений подвижного груза</td>
                    <td>K2</td>
                    <td><span id="k2">@data?.Kaver.ToString("N3")</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    @*<div class="form-check-inline">
        <input type="button" class="btn btn-outline-danger" value="Остановить" id="stopUpdating" />
        <input type="button" class="btn btn-outline-success" value="Возобновить" id="startUpdating" />
        <input type="text" class="form-control input" id="intervalValue" value="1000" />
    </div>*@
    


    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //timeInterval = setInterval(getData, $("#intervalValue").val());
            var timerId = setTimeout(function tick() { //рекурсивный setTimeout вызов более точный чем setInterval
                setControllerData();
                timerId = setTimeout(tick, timeSendToControllerInterval); 
            }, timeSendToControllerInterval);
            //$("#stopUpdating").click(function () { clearInterval(timeInterval); });
            //$("#startUpdating").click(function () { timeInterval = setInterval(getData, $("#intervalValue").val()); });
            //домкрат
            $("#jackUp").mousedown(function () { jackUp = 1;});
            $("#jackUp").mouseup(function () { jackUp = 0;});
            $("#jackDown").mousedown(function () { jackDown = 1;});
            $("#jackDown").mouseup(function () { jackDown = 0;});
        });

        //var timeInterval;
        var timeSendToControllerInterval = 300; //дискретное время посылки сигнала в контроллер, мс
        var jackUp = 0;
        var jackDown = 0;


        function setControllerData() {
            $.ajax({
                method: "GET",
                url: "@Url.Action("SetControllerData", "Home")?random=" + Math.random(),
                data: { jackUp: jackUp, jackDown: jackDown},
                dataType: "json",
                success: function (result) {
                    $("#jackPos").text(parseFloat(result.jackPos).toFixed(3));
                    $("#beginBalanceAngle").text(parseFloat(result.beginBalanceAngle).toFixed(3));
                    $("#middleBalanceAngle").text(parseFloat(result.middleBalanceAngle).toFixed(3));
                    $("#beginUnbalanceSensor").text(parseFloat(result.beginUnbalanceSensor).toFixed(3));
                    $("#middleUnbalanceSensor").text(parseFloat(result.middleUnbalanceSensor).toFixed(3));
                    $("#knom").text(parseFloat(result.knom).toFixed(3));
                    $("#kaver").text(parseFloat(result.kaver).toFixed(3));
                    $("#pnom").text(parseFloat(result.pnom).toFixed(3));
                    $("#paver").text(parseFloat(result.paver).toFixed(3));
                },
                error: function (result) {
                    
                }
            })
        }


        @*function getData() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetControllerDataRepeat", "Home")?random=" + Math.random(),
                dataType: "json",
                success: function (result) {

                   //console.log(result);

                    $("#beginBalanceAngle").text(parseFloat(result[0].beginBalanceAngle).toFixed(3));
                    $("#middleBalanceAngle").text(parseFloat(result[0].middleBalanceAngle).toFixed(3));
                    $("#beginUnbalanceSensor").text(parseFloat(result[0].beginUnbalanceSensor).toFixed(3));
                    $("#middleUnbalanceSensor").text(parseFloat(result[0].middleUnbalanceSensor).toFixed(3));
                    $("#knom").text(parseFloat(result[0].knom).toFixed(3));
                    $("#kaver").text(parseFloat(result[0].kaver).toFixed(3));
                    $("#pnom").text(parseFloat(result[0].pnom).toFixed(3));
                    $("#paver").text(parseFloat(result[0].paver).toFixed(3));

                    
                }
            });
        }*@
    </script>







