@model IEnumerable<GravityWebExt.Models.CalculatedDataWeb>
@{
    ViewData["Title"] = "Расчётные данные";
    CalculatedDataWeb data = Model?.ElementAt(0);
}
@*<h1>@ViewData["Title"]</h1>*@

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <form method="post">
        <h4>Рассчитанные рекомендуемые значения</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                    <th>Размерность</th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>Подходящие горизонтальное расстояние между осью наклона стенда и центром тяжести подвижного груза в его переднем положении </td>
                    <td>K_ref</td>
                    <td><span id="RefK">@data?.RefK.ToString("N3")</span></td>
                    <td>мм</td>
                </tr>
            </tbody>
        </table>
        <h4>Рассчитанное значение угла</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Отклоление в плоскости xOy -> 3 значения будут => Градусы \ Минуты \ Секунды </td>
                    <td>xOy</td>
                    <td><span id="devPlane_xOy">@data?.DevPlane_xOy.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Отклоление в плоскости xOz -> 3 значения будут => Градусы \ Минуты \ Секунды</td>
                    <td>xOz</td>
                    <td><span id="devPlane_xOz">@data?.DevPlane_xOz.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Средний угол равновесия - α</td>
                    <td>∠ср</td>
                    <td><span id="averageValue">@data?.AverageValue.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Поправка координат при определении КМЦ</td>
                    <td>△</td>
                    <td><span id="kcmDev">@data?.kcmDev.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Тарировка углов</td>
                    <td></td>
                    <td><span id="amendment">@data?.Amendment.ToString("N3")</span></td>
                </tr>
            </tbody>
        </table>
        <h4>Итоговые значения КЦМ</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>M</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Координаты Центра Масс </td>
                    <td><span id="res_X">@data?.RES_X.ToString("N3")</span></td>
                    <td><span id="res_Y">@data?.RES_Y.ToString("N3")</span></td>
                    <td><span id="res_Z">@data?.RES_Z.ToString("N3")</span></td>
                    <td><span id="res_M">@data?.RES_M.ToString("N3")</span></td>
                </tr>
            </tbody>
        </table>
        <h4>KP</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>M</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Расчет поправок</td>
                    <td>p</td>
                    <td><span id="_pX">@data?._pX.ToString("N3")</span></td>
                    <td><span id="_pY">@data?._pY.ToString("N3")</span></td>
                    <td><span id="_pZ">@data?._pZ.ToString("N3")</span></td>
                    <td><span id="_pM">@data?._pM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Системат. отклонения после введения поправок</td>
                    <td>△p</td>
                    <td><span id="SystemDevX">@data?.SystemDevX.ToString("N3")</span></td>
                    <td><span id="SystemDevY">@data?.SystemDevY.ToString("N3")</span></td>
                    <td><span id="SystemDevZ">@data?.SystemDevZ.ToString("N3")</span></td>
                    <td><span id="SystemDevM">@data?.SystemDevM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Расчет КЦМ и М изделия с учетом поправок</td>
                    <td>KMCp</td>
                    <td><span id="_kmcKPx">@data?._kmcKPx.ToString("N3")</span></td>
                    <td><span id="_kmcKPy">@data?._kmcKPy.ToString("N3")</span></td>
                    <td><span id="_kmcKPz">@data?._kmcKPz.ToString("N3")</span></td>
                    <td><span id="_kmcKPm">@data?._kmcKPm.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Систематические погрешности изделия</td>
                    <td>±p</td>
                    <td><span id="SystemEerX">@data?.SystemEerX.ToString("N3")</span></td>
                    <td><span id="SystemEerY">@data?.SystemEerY.ToString("N3")</span></td>
                    <td><span id="SystemEerZ">@data?.SystemEerZ.ToString("N3")</span></td>
                    <td><span id="SystemEerM">@data?.SystemEerM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Границы погрешностей изделия</td>
                    <td>±△p</td>
                    <td><span id="GranKPx">@data?.GranKPx.ToString("N3")</span></td>
                    <td><span id="GranKPy">@data?.GranKPy.ToString("N3")</span></td>
                    <td><span id="GranKPz">@data?.GranKPz.ToString("N3")</span></td>
                    <td><span id="GranKPm">@data?.GranKPm.ToString("N3")</span></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
@*<div class="form-check-inline">
    <input type="button" class="btn btn-outline-danger" value="Остановить" id="stopUpdating" />
    <input type="button" class="btn btn-outline-success" value="Возобновить" id="startUpdating" />
    <input type="text" class="form-control input" id="intervalValue" value="1000" />
</div>*@


<script src="~/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        timeInterval = setInterval(getData, /*$("#intervalValue").val()*/timeInterval);
        //$("#stopUpdating").click(function () { clearInterval(timeInterval); });
        //$("#startUpdating").click(function () { timeInterval = setInterval(getData, $("#intervalValue").val()); });
    });

    var timeInterval = 300;

    function getData() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCalculatorDataRepeat", "Home")?random=" + Math.random(),
            dataType: "json",
            success: function (result) {

                //console.log(result);
               
                $("#devPlane_xOy").text(parseFloat(result[0].devPlane_xOy).toFixed(3));
                $("#devPlane_xOz").text(parseFloat(result[0].devPlane_xOz).toFixed(3));
                $("#averageValue").text(parseFloat(result[0].averageValue).toFixed(3));
                $("#kcmDev").text(parseFloat(result[0].kcmDev).toFixed(3));
                $("#amendment").text(parseFloat(result[0].amendment).toFixed(3));
                //
                $("#res_X").text(parseFloat(result[0].reS_X).toFixed(3));
                $("#res_Y").text(parseFloat(result[0].reS_Y).toFixed(3));
                $("#res_Z").text(parseFloat(result[0].reS_Z).toFixed(3));
                $("#res_M").text(parseFloat(result[0].reS_M).toFixed(3));
                //
                $("#averProdVal_X").text(parseFloat(result[0].averProdVal_X).toFixed(3));
                $("#averProdVal_Y").text(parseFloat(result[0].averProdVal_Y).toFixed(3));
                $("#averProdVal_Z").text(parseFloat(result[0].averProdVal_Z).toFixed(3));
                $("#averProdValMas").text(parseFloat(result[0].averProdValMas).toFixed(3));
                $("#erLimX1").text(parseFloat(result[0].erLimX1).toFixed(3));
                $("#erLimY1").text(parseFloat(result[0].erLimY1).toFixed(3));
                $("#erLimZ1").text(parseFloat(result[0].erLimZ1).toFixed(3));
                $("#erLimM1").text(parseFloat(result[0].erLimM1).toFixed(3));
                $("#erLimX2").text(parseFloat(result[0].erLimX2).toFixed(3));
                $("#erLimY2").text(parseFloat(result[0].erLimY2).toFixed(3));
                $("#erLimZ2").text(parseFloat(result[0].erLimZ2).toFixed(3));
                $("#erLimM2").text(parseFloat(result[0].erLimM2).toFixed(3));
                $("#nspMaxX").text(parseFloat(result[0].nsPmaxX).toFixed(3));
                $("#nspMaxY").text(parseFloat(result[0].nsPmaxY).toFixed(3));
                $("#nspMaxZ").text(parseFloat(result[0].nsPmaxZ).toFixed(3));
                $("#nspMaxM").text(parseFloat(result[0].nsPmaxM).toFixed(3));
                $("#erLimSx").text(parseFloat(result[0].erLimSx).toFixed(3));
                $("#erLimSy").text(parseFloat(result[0].erLimSy).toFixed(3));
                $("#erLimSz").text(parseFloat(result[0].erLimSz).toFixed(3));
                $("#erLimSm").text(parseFloat(result[0].erLimSm).toFixed(3));
                $("#kvesX").text(parseFloat(result[0].kvesX).toFixed(3));
                $("#kvesY").text(parseFloat(result[0].kvesY).toFixed(3));
                $("#kvesZ").text(parseFloat(result[0].kvesZ).toFixed(3));
                $("#kvesM").text(parseFloat(result[0].kvesM).toFixed(3));
                $("#sdev_reNsX").text(parseFloat(result[0].sdev_reNsX).toFixed(3));
                $("#sdev_reNsY").text(parseFloat(result[0].sdev_reNsY).toFixed(3));
                $("#sdev_reNsZ").text(parseFloat(result[0].sdev_reNsZ).toFixed(3));
                $("#sdev_reNsM").text(parseFloat(result[0].sdev_reNsM).toFixed(3));
                $("#granX").text(parseFloat(result[0].granX).toFixed(3));
                $("#granY").text(parseFloat(result[0].granY).toFixed(3));
                $("#granZ").text(parseFloat(result[0].granZ).toFixed(3));
                $("#granM").text(parseFloat(result[0].granM).toFixed(3));

                $("#_pX").text(parseFloat(result[0]._pX).toFixed(3));
                $("#_pY").text(parseFloat(result[0]._pY).toFixed(3));
                $("#_pZ").text(parseFloat(result[0]._pZ).toFixed(3));
                $("#_pM").text(parseFloat(result[0]._pM).toFixed(3));

                $("#SystemDevX").text(parseFloat(result[0].systemDevX).toFixed(3));
                $("#SystemDevY").text(parseFloat(result[0].systemDevY).toFixed(3));
                $("#SystemDevZ").text(parseFloat(result[0].systemDevZ).toFixed(3));
                $("#SystemDevM").text(parseFloat(result[0].systemDevM).toFixed(3));

                $("#_kmcKPx").text(parseFloat(result[0]._kmcKPx).toFixed(3));
                $("#_kmcKPy").text(parseFloat(result[0]._kmcKPy).toFixed(3));
                $("#_kmcKPz").text(parseFloat(result[0]._kmcKPz).toFixed(3));
                $("#_kmcKPm").text(parseFloat(result[0]._kmcKPm).toFixed(3));

                $("#SystemEerX").text(parseFloat(result[0].systemEerX).toFixed(3));
                $("#SystemEerY").text(parseFloat(result[0].systemEerY).toFixed(3));
                $("#SystemEerZ").text(parseFloat(result[0].systemEerZ).toFixed(3));
                $("#SystemEerM").text(parseFloat(result[0].systemEerM).toFixed(3));

                $("#GranKPx").text(parseFloat(result[0].granKPx).toFixed(3));
                $("#GranKPy").text(parseFloat(result[0].granKPy).toFixed(3));
                $("#GranKPz").text(parseFloat(result[0].granKPz).toFixed(3));
                $("#GranKPm").text(parseFloat(result[0].granKPm).toFixed(3));
                $("#RefK").text(parseFloat(result[0].refK).toFixed(3));

                //RecomValData
                $("#Ma").text(parseFloat(result[0].ma).toFixed(3));
                $("#Mm").text(parseFloat(result[0].mm).toFixed(3));
                $("#AngleKcm").text(parseFloat(result[0].angleKcm).toFixed(3));
                $("#AngleMas").text(parseFloat(result[0].angleMas).toFixed(3));
                $("#AngleNotMas").text(parseFloat(result[0].angleNotMas).toFixed(3));           
            }
        });
    }
</script>