@model IEnumerable<GravityWebExt.Models.NSPWebData>
@{
    ViewData["Title"] = "НСП";
    NSPWebData nspData = Model?.ElementAt(0);
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <form method="post">
        <input type="hidden" value="@nspData?.Id" name="Id" />
        <h4>Расчет НСП, вносимых параметрами стенда</h4>
        <table class="table table-striped">
            <tr>
                <th>Обозначение</th>
                <th>+Δx</th>
                <th>+Δy</th>
                <th>+Δz</th>
                <th>+Δm</th>
                <th>-Δx</th>
                <th>-Δy</th>
                <th>-Δz</th>
                <th>-Δm</th>
            </tr>
            <tr>
                <td>ΔS</td>
                <td><input type="text" class="form-control input" name="_devSx" value="@nspData?._devSx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSy" value="@nspData?._devSy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSz" value="@nspData?._devSz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSm" value="@nspData?._devSm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSx2" value="@nspData?._devSx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSy2" value="@nspData?._devSy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSz2" value="@nspData?._devSz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devSm2" value="@nspData?._devSm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔH</td>
                <td><input type="text" class="form-control input" name="_devHx" value="@nspData?._devHx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHy" value="@nspData?._devHy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHz" value="@nspData?._devHz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHm" value="@nspData?._devHm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHx2" value="@nspData?._devHx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHy2" value="@nspData?._devHy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHz2" value="@nspData?._devHz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHm2" value="@nspData?._devHm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔL</td>
                <td><input type="text" class="form-control input" name="_devLx" value="@nspData?._devLx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLy" value="@nspData?._devLy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLz" value="@nspData?._devLz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLm" value="@nspData?._devLm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLx2" value="@nspData?._devLx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLy2" value="@nspData?._devLy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLz2" value="@nspData?._devLz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devLm2" value="@nspData?._devLm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔQ</td>
                <td><input type="text" class="form-control input" name="_devQx" value="@nspData?._devQx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQy" value="@nspData?._devQy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQz" value="@nspData?._devQz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQm" value="@nspData?._devQm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQx2" value="@nspData?._devQx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQy2" value="@nspData?._devQy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQz2" value="@nspData?._devQz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devQm2" value="@nspData?._devQm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔP</td>
                <td><input type="text" class="form-control input" name="_devPx" value="@nspData?._devPx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPy" value="@nspData?._devPy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPz" value="@nspData?._devPz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPm" value="@nspData?._devPm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPx2" value="@nspData?._devPx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPy2" value="@nspData?._devPy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPz2" value="@nspData?._devPz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devPm2" value="@nspData?._devPm2.ToString()" /></td>
            </tr>
            <tr>
                <td>Δξ</td>
                <td><input type="text" class="form-control input" name="_devEPSILx" value="@nspData?._devEPSILx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILy" value="@nspData?._devEPSILy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILz" value="@nspData?._devEPSILz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILm" value="@nspData?._devEPSILm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILx2" value="@nspData?._devEPSILx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILy2" value="@nspData?._devEPSILy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILz2" value="@nspData?._devEPSILz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEPSILm2" value="@nspData?._devEPSILm2.ToString()" /></td>
            </tr>
            <tr>
                <td>Δφ</td>
                <td><input type="text" class="form-control input" name="_devFIx" value="@nspData?._devFIx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIy" value="@nspData?._devFIy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIz" value="@nspData?._devFIz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIm" value="@nspData?._devFIm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIx2" value="@nspData?._devFIx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIy2" value="@nspData?._devFIy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIz2" value="@nspData?._devFIz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devFIm2" value="@nspData?._devFIm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔXпер</td>
                <td><input type="text" class="form-control input" name="_devXpx" value="@nspData?._devXpx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpy" value="@nspData?._devXpy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpz" value="@nspData?._devXpz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpm" value="@nspData?._devXpm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpx2" value="@nspData?._devXpx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpy2" value="@nspData?._devXpy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpz2" value="@nspData?._devXpz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devXpm2" value="@nspData?._devXpm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔYпер</td>
                <td><input type="text" class="form-control input" name="_devYpx" value="@nspData?._devYpx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpy" value="@nspData?._devYpy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpz" value="@nspData?._devYpz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpm" value="@nspData?._devYpm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpx2" value="@nspData?._devYpx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpy2" value="@nspData?._devYpy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpz2" value="@nspData?._devYpz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devYpm2" value="@nspData?._devYpm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔYпер</td>
                <td><input type="text" class="form-control input" name="_devZpx" value="@nspData?._devZpx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpy" value="@nspData?._devZpy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpz" value="@nspData?._devZpz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpm" value="@nspData?._devZpm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpx2" value="@nspData?._devZpx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpy2" value="@nspData?._devZpy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpz2" value="@nspData?._devZpz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devZpm2" value="@nspData?._devZpm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔMпер</td>
                <td><input type="text" class="form-control input" name="_devMpx" value="@nspData?._devMpx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpy" value="@nspData?._devMpy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpz" value="@nspData?._devMpz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpm" value="@nspData?._devMpm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpx2" value="@nspData?._devMpx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpy2" value="@nspData?._devMpy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpz2" value="@nspData?._devMpz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMpm2" value="@nspData?._devMpm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔHпер</td>
                <td><input type="text" class="form-control input" name="_devHpx" value="@nspData?._devHpx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpy" value="@nspData?._devHpy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpz" value="@nspData?._devHpz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpm" value="@nspData?._devHpm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpx2" value="@nspData?._devHpx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpy2" value="@nspData?._devHpy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpz2" value="@nspData?._devHpz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devHpm2" value="@nspData?._devHpm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔD</td>
                <td><input type="text" class="form-control input" name="_devDx" value="@nspData?._devDx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDy" value="@nspData?._devDy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDz" value="@nspData?._devDz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDm" value="@nspData?._devDm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDx2" value="@nspData?._devDx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDy2" value="@nspData?._devDy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDz2" value="@nspData?._devDz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devDm2" value="@nspData?._devDm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔE</td>
                <td><input type="text" class="form-control input" name="_devEx" value="@nspData?._devEx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEy" value="@nspData?._devEy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEz" value="@nspData?._devEz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEm" value="@nspData?._devEm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEx2" value="@nspData?._devEx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEy2" value="@nspData?._devEy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEz2" value="@nspData?._devEz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devEm2" value="@nspData?._devEm2.ToString()" /></td>
            </tr>
            <tr>
                <td>Δmm</td>
                <td><input type="text" class="form-control input" name="_devMMx" value="@nspData?._devMMx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMy" value="@nspData?._devMMy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMz" value="@nspData?._devMMz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMm" value="@nspData?._devMMm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMx2" value="@nspData?._devMMx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMy2" value="@nspData?._devMMy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMz2" value="@nspData?._devMMz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMMm2" value="@nspData?._devMMm2.ToString()" /></td>
            </tr>
            <tr>
                <td>Δma</td>
                <td><input type="text" class="form-control input" name="_devMAx" value="@nspData?._devMAx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAy" value="@nspData?._devMAy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAz" value="@nspData?._devMAz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAm" value="@nspData?._devMAm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAx2" value="@nspData?._devMAx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAy2" value="@nspData?._devMAy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAz2" value="@nspData?._devMAz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMAm2" value="@nspData?._devMAm2.ToString()" /></td>
            </tr>
            <tr>
                <td>ΔMassa</td>
                <td><input type="text" class="form-control input" name="_devMASSx" value="@nspData?._devMASSx.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSy" value="@nspData?._devMASSy.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSz" value="@nspData?._devMASSz.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSm" value="@nspData?._devMASSm.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSx2" value="@nspData?._devMASSx2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSy2" value="@nspData?._devMASSy2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSz2" value="@nspData?._devMASSz2.ToString()" /></td>
                <td><input type="text" class="form-control input" name="_devMASSm2" value="@nspData?._devMASSm2.ToString()" /></td>
            </tr>
        </table>
        <div class="row">
            <input type="reset" class="form-control reset" value="Сбросить" />
        </div>
        <br />
        <h4>Рассчитанные NSP</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>M</th>
                <tr>
            </thead>
            <tbody>
                <tr>
                    <td>Среднее значение изделия</td>
                    <td>Иср</td>
                    <td><span id="averProdVal_X">@nspData?.AverProdVal_X.ToString("N3")</span></td>
                    <td><span id="averProdVal_Y">@nspData?.AverProdVal_Y.ToString("N3")</span></td>
                    <td><span id="averProdVal_Z">@nspData?.AverProdVal_Z.ToString("N3")</span></td>
                    <td><span id="averProdValMas">@nspData?.AverProdValMas.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Граница суммарной не исключённой систематической погрешности c "+"</td>
                    <td>+Δθ</td>
                    <td><span id="erLimX1">@nspData?.ErLimX1.ToString("N3")</span></td>
                    <td><span id="erLimY1">@nspData?.ErLimY1.ToString("N3")</span></td>
                    <td><span id="erLimZ1">@nspData?.ErLimZ1.ToString("N3")</span></td>
                    <td><span id="erLimM1">@nspData?.ErLimM1.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Граница суммарной не исключённой систематической погрешности c "-"</td>
                    <td>-Δθ</td>
                    <td><span id="erLimX2">@nspData?.ErLimX2.ToString("N3")</span></td>
                    <td><span id="erLimY2">@nspData?.ErLimY2.ToString("N3")</span></td>
                    <td><span id="erLimZ2">@nspData?.ErLimZ2.ToString("N3")</span></td>
                    <td><span id="erLimM2">@nspData?.ErLimM2.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>НСП(max)</td>
                    <td>Δθi</td>
                    <td><span id="nspMaxX">@nspData?.NSPmaxX.ToString("N3")</span></td>
                    <td><span id="nspMaxY">@nspData?.NSPmaxY.ToString("N3")</span></td>
                    <td><span id="nspMaxZ">@nspData?.NSPmaxZ.ToString("N3")</span></td>
                    <td><span id="nspMaxM">@nspData?.NSPmaxM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>СКО НСП</td>
                    <td>Sθ</td>
                    <td><span id="erLimSx">@nspData?.ErLimSx.ToString("N3")</span></td>
                    <td><span id="erLimSy">@nspData?.ErLimSy.ToString("N3")</span></td>
                    <td><span id="erLimSz">@nspData?.ErLimSz.ToString("N3")</span></td>
                    <td><span id="erLimSm">@nspData?.ErLimSm.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Весовой Коэффициент</td>
                    <td>k</td>
                    <td><span id="kvesX">@nspData?.KvesX.ToString("N3")</span></td>
                    <td><span id="kvesY">@nspData?.KvesY.ToString("N3")</span></td>
                    <td><span id="kvesZ">@nspData?.KvesZ.ToString("N3")</span></td>
                    <td><span id="kvesM">@nspData?.KvesM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Суммарные СКОΣ </td>
                    <td>SΣ</td>
                    <td><span id="sdev_reNsX">@nspData?.Sdev_reNsX.ToString("N3")</span></td>
                    <td><span id="sdev_reNsY">@nspData?.Sdev_reNsY.ToString("N3")</span></td>
                    <td><span id="sdev_reNsZ">@nspData?.Sdev_reNsZ.ToString("N3")</span></td>
                    <td><span id="sdev_reNsM">@nspData?.Sdev_reNsM.ToString("N3")</span></td>
                </tr>
                <tr>
                    <td>Суммарная границы погрешности</td>
                    <td>Σθ△</td>
                    <td><span id="granX">@nspData?.granX.ToString("N3")</span></td>
                    <td><span id="granY">@nspData?.granY.ToString("N3")</span></td>
                    <td><span id="granZ">@nspData?.granZ.ToString("N3")</span></td>
                    <td><span id="granM">@nspData?.granM.ToString("N3")</span></td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <input type="submit" class="form-control input" value="Сохранить" />
        </div>
    </form>
</div>



@*<script src="~/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            //timeInterval = setInterval(getData, $("#intervalValue").val());
            var timerId = setTimeout(function tick() { //рекурсивный setTimeout вызов более точный чем setInterval
                setControllerData();
                timerId = setTimeout(tick, timeSendToControllerInterval);
            }, timeSendToControllerInterval);
            //$("#stopUpdating").click(function () { clearInterval(timeInterval); });
            //$("#startUpdating").click(function () { timeInterval = setInterval(getData, $("#intervalValue").val()); });
            //домкрат

        });

        //var timeInterval;
        var timeSendToControllerInterval = 300; //дискретное время посылки сигнала в контроллер, мс
        var jackUp = 0;
        var jackDown = 0;
        var cargoLeft = 0;
        var cargoRight = 0;


        function setControllerData() {
            $.ajax({
                method: "GET",
                url: "@Url.Action("GetCalculatorDataRepeat", "Home")?random=" + Math.random(),
                dataType: "json",
                success: function (result) {

                },
                error: function (result) {

                }
            })
        }


</script>*@
