@model IEnumerable<GravityWebExt.Models.OptionsData>
@{
    ViewData["Title"] = "Паспортные параметры";
    OptionsData passData = Model?.ElementAt(0); //Пока поддержка только одной конфигурации
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <form method="post">
        <input type="hidden" value="@passData?.Id" name="Id" />
        <h4>Параметры стенда</h4>
        <table class="table table-striped">
            <thead>
                <tr> 
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                    <th>±Δ</th>
                    <th>Размерность</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Горизонтальное расстояние между осью наклона стенда и центром тяжести подвижного груза в его переднем положении </td>
                    <td>К</td>
                    <td><input type="text" class="form-control input" name="PasportK" value="@passData?.PasK.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevPasK" value="@passData?.PasDevK.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Горизонтальное расстояние между осью наклона стенда и осью поворота планшайбы</td>
                    <td>S</td>
                    <td><input type="text" class="form-control input" name="S" value="@passData?.PasS.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevS" value="@passData?.PasDevS.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Вертикальное расстояние между осью наклона стенда и установочной поверхностью планшайбы стенда </td>
                    <td>H</td>
                    <td><input type="text" class="form-control input" name="H" value="@passData?.PasH.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevH" value="@passData?.PasDevH.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Вертикальное расстояние между осью наклона стенда и осью подвеса грузов противовеса</td>
                    <td>E</td>
                    <td><input type="text" class="form-control input" name="E" value="@passData?.PasE.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevE" value="@passData?.PasDevE.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Горизонтальное расстояние между осью наклона стенда и центром опорного ролика </td>
                    <td>L</td>
                    <td><input type="text" class="form-control input" name="L" value="@passData?.PasL.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevL" value="@passData?.PasDevL.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Вертикальное расстояние между осью наклона стенда и центром опорного ролика </td>
                    <td>Q</td>
                    <td><input type="text" class="form-control input" name="Q" value="@passData?.PasQ.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevQ" value="@passData?.PasDevQ.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Горизонтальное расстояние между осью наклона стенда и осью подвеса грузов противовеса </td>
                    <td>D</td>
                    <td><input type="text" class="form-control input" name="D" value="@passData?.PasD.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevD" value="@passData?.PasDevD.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Погрешность измерения усилия датчиком дисбаланса </td>
                    <td>±ΔР</td>
                    <td><input type="text" class="form-control input" name="PasDevPdisbal" value="@passData?.PasDevPdisbal.ToString()" /></td>
                    <td></td>
                    <td>Н</td>
                </tr>
                <tr>
                    <td>Погрешность измерение усилия датчиком силы</td>
                    <td>±ΔР</td>
                    <td><input type="text" class="form-control input" name="PasDevPpower" value="@passData?.PasDevPpower.ToString()" /></td>
                    <td></td>
                    <td>Н</td>
                </tr>
                <tr>
                    <td>Погрешность определения угла наклона  </td>
                    <td>±Δξ</td>
                    <td><input type="text" class="form-control input" name="DevEpsilon" value="@passData?.PasDevEpsilon.ToString()" /></td>
                    <td></td>
                    <td>°</td>
                </tr>
                <tr>
                    <td>Погрешноть углов поворота платформы </td>
                    <td>±Δφ</td>
                    <td><input type="text" class="form-control input" name="DevFi" value="@passData?.PasDevFi.ToString()" /></td>
                    <td></td>
                    <td>°</td>
                </tr>
                <tr>
                    <td>Подвижный груз</td>
                    <td>m<sub>⇆</sub></td>
                    <td><input type="text" class="form-control input" name="MassPG" value="@passData?.MassPG.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="MassPG" value="@passData?.DevMassPG.ToString()" /></td>
                    <td>кг</td>
                </tr>
                <tr>
                    <td>Корректирующий груз для КЦМ</td>
                    <td>m<sub>m</sub></td>
                    <td><input type="text" class="form-control input" name="PasMm" value="@passData?.PasMm.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="PasDevMm" value="@passData?.PasDevMm.ToString()" /></td>
                    <td>кг</td>
                </tr>
                <tr>
                    <td>Корректирующий груз для M</td>
                    <td>m<sub>э</sub></td>
                    <td><input type="text" class="form-control input" name="PasMa" value="@passData?.PasMa.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="PasDevMa" value="@passData?.PasDevMa.ToString()" /></td>
                    <td>кг</td>
                </tr>
            </tbody>          
        </table>
        <h4>Параметры переходника</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                    <th>±Δ</th>
                    <th>Размерность</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Координата центра масс переходника в системе координат переходника &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>X<sub>пер</sub></td>
                    <td><input type="text" class="form-control input" name="Xper" value="@passData?.PerX.ToString().ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevХper" value="@passData?.PerDevX.ToString().ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Координата центра масс переходника в системе координат переходника </td>
                    <td>Y<sub>пер</sub></td>
                    <td><input type="text" class="form-control input" name="Yper" value="@passData?.PerY.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevYper" value="@passData?.PerDevY.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Координата центра масс переходника в системе координат переходника </td>
                    <td>Z<sub>пер</sub></td>
                    <td><input type="text" class="form-control input" name="Zper" value="@passData?.PerZ.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevZper" value="@passData?.PerDevZ.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Масса переходника </td>
                    <td>m<sub>пер</sub></td>
                    <td><input type="text" class="form-control input" name="MassPer" value="@passData?.PerMas.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevMassPer" value="@passData?.PerDevMas.ToString()" /></td>
                    <td>кг</td>
                </tr>
                <tr>
                    <td>Высота переходника  </td>
                    <td>h<sub>пер</sub></td>
                    <td><input type="text" class="form-control input" name="HPer" value="@passData?.PerH.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevHPer" value="@passData?.PerDevH.ToString().ToString()" /></td>
                    <td>мм</td>
                </tr>
            </tbody>
        </table>
        <h4>Параметры контрольного приспособления (КП)</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                    <th>±Δ</th>
                    <th>Размерность</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Координата КП &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>X<sub>кп</sub></td>
                    <td><input type="text" class="form-control input" name="Xkp" value="@passData?.KpX.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevXkp" value="@passData?.KpDevX.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Координата КП  </td>
                    <td>Y<sub>кп</sub></td>
                    <td><input type="text" class="form-control input" name="Ykp" value="@passData?.KpY.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevYkp" value="@passData?.KpDevY.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Координата КП  </td>
                    <td>Z<sub>кп</sub></td>
                    <td><input type="text" class="form-control input" name="Zkp" value="@passData?.KpZ.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevZkp" value="@passData?.KpDevZ.ToString()" /></td>
                    <td>мм</td>
                </tr>
                <tr>
                    <td>Масса КП  </td>
                    <td>m<sub>кп</sub></td>
                    <td><input type="text" class="form-control input" name="MassKp" value="@passData?.KpMas.ToString()" /></td>
                    <td><input type="text" class="form-control input" name="DevMassKp" value="@passData?.KpDevMas.ToString()" /></td>
                    <td>кг</td>
                </tr>
            </tbody>
        </table>
        <h4>Корректирующие параметры для расчета </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                    <th>Размерность</th>
                </tr>
            </thead>
            <tbody>            
                <tr>
                    <td>Использование груза для коррекции </td>                   
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-check-input" name="Cargo" value="true" @(passData.Cargo ? "checked=\"checked\"" : "" ) /></td>
                </tr>
                <tr>
                    <td>Замещение при помощи KP</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-check-input" name="KP" value="true" @(passData.KP ? "checked=\"checked\"" : "" ) /></td>
                </tr>
                <tr>
                    <td>Угол поворота платформы  </td>
                    <td>φ</td>
                    <td><input type="text" class="form-control input" name="Fi" value="@passData?.Fi.ToString()" /></td>
                    <td>°</td>
                </tr>
                <tr>
                    <td>Отклонение для ПОПРАВКИ во время тарировки углов  </td>
                    <td>Δ</td>
                    <td><input type="text" class="form-control input" name="Dev" value="@passData?.Dev.ToString()" /></td>
                </tr>               
            </tbody>
        </table>
        <div class="row">
            <input type="submit" class="form-control input" value="Сохранить" />
        </div>
    </form>
</div>

