@model IEnumerable<GravityWebExt.Models.OptionsData>
@{
    ViewData["Title"] = "Паспортные параметры";
    OptionsData passData = Model?.ElementAt(0); //Пока поддержка только одной конфигурации
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <form method="post">
        <input type="hidden" value="@passData?.Id" name="Id" />
        <h4>Параметры стенда</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Геометрический параметр стенда </td>
                    <td>S</td>
                    <td><input type="text" class="form-control input" name="S" value="@passData?.S.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение геометрического параметра стенда </td>
                    <td>(±Δ)S</td>
                    <td><input type="text" class="form-control input" name="DevS" value="@passData?.DevS.ToString()" /></td>
                </tr>
                <tr>
                    <td>Геометрический параметр стенда </td>
                    <td>H</td>
                    <td><input type="text" class="form-control input" name="H" value="@passData?.H.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение геометрического параметра стенда </td>
                    <td>(±Δ)H</td>
                    <td><input type="text" class="form-control input" name="DevH" value="@passData?.DevH.ToString()" /></td>
                </tr>
                <tr>
                    <td>Геометрический параметр стенда </td>
                    <td>E</td>
                    <td><input type="text" class="form-control input" name="E" value="@passData?.E.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение геометрического параметра стенда </td>
                    <td>(±Δ)E</td>
                    <td><input type="text" class="form-control input" name="DevE" value="@passData?.DevE.ToString()" /></td>
                </tr>
                <tr>
                    <td>Горизонтальное расстояния от оси наклона до оси ролика в системе координат стола </td>
                    <td>L</td>
                    <td><input type="text" class="form-control input" name="L" value="@passData?.L.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение горизонтального расстояния от оси наклона до оси ролика в системе координат стола </td>
                    <td>(±Δ)L</td>
                    <td><input type="text" class="form-control input" name="DevL" value="@passData?.DevL.ToString()" /></td>
                </tr>
                <tr>
                    <td>Вертикальное расстояния от оси наклона до оси ролика в системе координат стола </td>
                    <td>Q</td>
                    <td><input type="text" class="form-control input" name="Q" value="@passData?.Q.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение вертикального расстояния от оси наклона до оси ролика в системе координат стола </td>
                    <td>(±Δ)Q</td>
                    <td><input type="text" class="form-control input" name="DevQ" value="@passData?.DevQ.ToString()" /></td>
                </tr>
                <tr>
                    <td>Погрешность измерения усилия датчиком дисбаланса </td>
                    <td>±ΔР</td>
                    <td><input type="text" class="form-control input" name="DevP" value="@passData?.DevP.ToString()" /></td>
                </tr>
                <tr>
                    <td>Погрешность определения угла наклона  </td>
                    <td>±Δξ</td>
                    <td><input type="text" class="form-control input" name="DevEpsilon" value="@passData?.DevEpsilon.ToString()" /></td>
                </tr>
                <tr>
                    <td>Неисключенная систематическая погрешность (НСП) углов поворота платформы </td>
                    <td>±Δφ</td>
                    <td><input type="text" class="form-control input" name="DevFi" value="@passData?.DevFi.ToString()" /></td>
                </tr>
                <tr>
                    <td>Груз разгрузки (корректирующий противовес)  </td>
                    <td>Mm</td>
                    <td><input type="text" class="form-control input" name="Pasport_mm" value="@passData?.Pasport_mm.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение противовеса  </td>
                    <td>(±Δ)Mm</td>
                    <td><input type="text" class="form-control input" name="DevPas_mm" value="@passData?.DevPas_mm.ToString()" /></td>
                </tr>
                <tr>
                    <td>Расстояние установки эталонного груза от оси наклона </td>
                    <td>D</td>
                    <td><input type="text" class="form-control input" name="D" value="@passData?.D.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение расстояния установки эталонного груза от оси наклона </td>
                    <td>(±Δ)D</td>
                    <td><input type="text" class="form-control input" name="DevD" value="@passData?.DevD.ToString()" /></td>
                </tr>
                <tr>
                    <td>Подвижный груз </td>
                    <td>Mmпг</td>
                    <td><input type="text" class="form-control input" name="Pasport_ma" value="@passData?.Pasport_ma.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение подвижного груза </td>
                    <td>(±Δ)Mmпг</td>
                    <td><input type="text" class="form-control input" name="DevPasport_ma" value="@passData?.DevPasport_ma.ToString()" /></td>
                </tr>
            </tbody>
        </table>
        <h4>Параметры переходника</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Координата центра масс (КЦМ) переходника в системе координат переходника </td>
                    <td>X</td>
                    <td><input type="text" class="form-control input" name="Xper" value="@passData?.Xper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение КЦМ переходника в системе координат переходника </td>
                    <td>(±Δ)X</td>
                    <td><input type="text" class="form-control input" name="DevХper" value="@passData?.DevХper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата центра масс (КЦМ) переходника в системе координат переходника </td>
                    <td>Y</td>
                    <td><input type="text" class="form-control input" name="Yper" value="@passData?.Yper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение КЦМ переходника в системе координат переходника </td>
                    <td>(±Δ)Y</td>
                    <td><input type="text" class="form-control input" name="DevYper" value="@passData?.DevYper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата центра масс (КЦМ) переходника в системе координат переходника </td>
                    <td>Z</td>
                    <td><input type="text" class="form-control input" name="Zper" value="@passData?.Zper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение КЦМ переходника в системе координат переходника </td>
                    <td>(±Δ)Z</td>
                    <td><input type="text" class="form-control input" name="DevZper" value="@passData?.DevZper.ToString()" /></td>
                </tr>
                <tr>
                    <td>Масса переходника </td>
                    <td>m</td>
                    <td><input type="text" class="form-control input" name="MassPer" value="@passData?.MassPer.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение массы переходника </td>
                    <td>(±Δ)m</td>
                    <td><input type="text" class="form-control input" name="DevMassPer" value="@passData?.DevMassPer.ToString()" /></td>
                </tr>
                <tr>
                    <td>Высота переходника  </td>
                    <td>h</td>
                    <td><input type="text" class="form-control input" name="HPer" value="@passData?.HPer.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение высоты переходника  </td>
                    <td>(±Δ)h</td>
                    <td><input type="text" class="form-control input" name="DevHPer" value="@passData?.DevHPer.ToString()" /></td>
                </tr>
            </tbody>
        </table>
        <h4>Параметры контрольного приспособления (КП)</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Координата КП  </td>
                    <td>X</td>
                    <td><input type="text" class="form-control input" name="Xkp" value="@passData?.Xkp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение координаты КП  </td>
                    <td>(±Δ)X</td>
                    <td><input type="text" class="form-control input" name="DevXkp" value="@passData?.DevXkp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата КП  </td>
                    <td>Y</td>
                    <td><input type="text" class="form-control input" name="Ykp" value="@passData?.Ykp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение координаты КП  </td>
                    <td>(±Δ)Y</td>
                    <td><input type="text" class="form-control input" name="DevYkp" value="@passData?.DevYkp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата КП  </td>
                    <td>Z</td>
                    <td><input type="text" class="form-control input" name="Zkp" value="@passData?.Zkp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение координаты КП  </td>
                    <td>(±Δ)Z</td>
                    <td><input type="text" class="form-control input" name="DevZkp" value="@passData?.DevZkp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Масса КП  </td>
                    <td>m</td>
                    <td><input type="text" class="form-control input" name="MassKp" value="@passData?.MassKp.ToString()" /></td>
                </tr>
                <tr>
                    <td>Допустимое отклонение массы КП  </td>
                    <td>(±Δ)m</td>
                    <td><input type="text" class="form-control input" name="DevMassKp" value="@passData?.DevMassKp.ToString()" /></td>
                </tr>
            </tbody>
        </table>
        <h4>Значения массы изделия и координат по КД для расчёта рекомендуемых значений</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Обозначение</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Масса изделия  </td>
                    <td>m</td>
                    <td><input type="text" class="form-control input" name="MassProd" value="@passData?.MassProd.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата изделия по КД  </td>
                    <td>X</td>
                    <td><input type="text" class="form-control input" name="Xprod" value="@passData?.Xprod.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата изделия по КД  </td>
                    <td>Y</td>
                    <td><input type="text" class="form-control input" name="Yprod" value="@passData?.Yprod.ToString()" /></td>
                </tr>
                <tr>
                    <td>Координата изделия по КД  </td>
                    <td>Z</td>
                    <td><input type="text" class="form-control input" name="Zprod" value="@passData?.Zprod.ToString()" /></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <input type="submit" class="form-control input" value="Сохранить" />
        </div>
    </form>
</div>

